/CrossPostersAndroid/app/src/main/java/com/example/crosspostersandroid/Tokens.kt
/CrossPostersKMP/composeApp/src/commonMain/kotlin/org/example/project/Tokens.kt
/CrossPostersIOS/Tokens.swift
/cross_posters_flutter/lib/Tokens.dart